img{
	float: left;
}

.main{
	clear: left;
}

.nav{
	float: right;	
}

ul{
	width: 300px;
	margin: 0 auto;
	background: green;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	float: left;
	color: white;
}

li{
	width: 100px;
	color: teal;
}

#h1{
	font-family: 'Roboto Slab', serif;
	float: left;
}

p{
   color: blue;
}

body{
	background: aquamarine;
}