
.main{
	clear: left;
}

.nav{
	float: right;	
}

ul{
	width: 300px;
	margin: 0 auto;
	background: white;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	float: left;
	color: green;
}

li{
	width: 100px;
	background: white;
	color: teal;
}

#h1{
	font-family: 'Roboto Slab', serif;
	float: left;
	font: 1.5em;
}

p{
   color: #0E6C50;
   font: 0.8125em;
}

body{

	background: #33B4D7;
	font: 100%;
	max-width: 960px;
}

section{
	width: 62.8888889%;
}

aside{
	width: 36.777778%;
}

#logo_container{
	border: 8px solid #333;
}

#logo_container img{
	max-width: 100%;
}

#wrapper{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background: #1FBFEB;
	
}

/* =Media Queries
=============================================*/

/* Tablet portrait size to standard 960 (devices and browsers)*/
@media screen and(min-width:768px) and max-width:959px) {
	#wrapper {background: #33B4D7;}
	
}

/* Mobile Landscape size to Tablet Portrait (devices and browsers)*/
@media screen and(min-width:480px) and max-width:767px) {
	#wrapper {background-color: orange;}
	font: 100%;
	font-weight: normal;
}

/* Mobile Portrate size to Mobile Landscape Size (devices and browsers)*/
@media screen and max-width:479px) {
    #wrapper {background-color: purple;}
	font: 100%;
	font-weight: normal;
}
