img{
	float: left;
}

.main{
	clear: left;
}

.nav{
	float: right;	
}

ul{
	width: 300px;
	margin: 0 auto;
	background: white;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	float: left;
	color: white;
}

li{
	width: 100px;
	background: white;
	color: teal;
}

#h1{
	font-family: 'Roboto Slab', serif;
	float: left;
	font: 1.5em;
}

p{
   color: blue;
   font-size: 0.8125ems;
}

body{
	background: aquamarine;
	font: 100%;
	max-width: 960px;
}

section{
	width: 62.8888889;
}

aside{
	width: 31.777778;
}

/* =Media Queries
=============================================*/

/* Tablet portrait size to standard 960 (devices and browsers)*/
@media screen and(min-width:768px) and max-width:959px) {

}

/* Mobile Landscape size to Tablet Portrait (devices and browsers)*/
@media screen and(min-width:480px) and max-width:767px) {

}

/* Mobile Portrate size to Mobile Landscape Size (devices and browsers)*/
@media screen and max-width:479px) {

}
